.advantage__item {
  padding: 30px 30px 46px;
  background-color: $color-alice-blue;

  @include vp-1023 {
    padding: 25px 16px 25px 20px;
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  & svg {
    margin-bottom: 11px;

    @include vp-1023 {
      height: 26px;
      width: auto;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: start;

    @include vp-1023 {
      line-height: 25px;
    }

    @include vp-767 {
      width: 79%;
    }
  }

  & p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }
}
