.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 386px;
  max-width: 260px;
  padding: 28px 25px 35px;
  overflow: auto;
  background-color: $color-tangaroa;

  @include vp-1023 {
    padding: 28px 35px 35px;
    width: 100%;
    max-width: 100%;
    min-width: 309px;
  }

  @include vp-767 {
    padding: 28px 25px 35px;
    width: 100%;
    min-width: 0;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 1024px) {
    @include hover {
      @include show-description;
    }

    &:focus-within {
      @include show-description;
    }
  }

  @include vp-1023 {
    &.is-open {
      & .card__image {
        z-index: -1;
      }

      h3 {
        position: static;
        padding: 0;
        margin-bottom: 14px;
      }
    }
  }
}

.card__description {
  & h3 {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 30px;
    margin: 0;
    padding-bottom: 23px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;

    @include vp-1023 {
      left: 35px;
      padding-bottom: 27px;
    }

    @include vp-767 {
      left: 25px;
      padding-bottom: 17px;
    }
  }

  & h4 {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color-alice-blue;
  }

  & p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #d8d8d9;
  }
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__button-wrapper {
  margin-top: auto;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0 9px;
}
