.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 28.3vw;
  padding: 28px 25px 35px;
  max-height: 386px;
  overflow: hidden;
  background-color: $color-tangaroa;

  @include vp-1023 {
    padding: 28px 35px 35px;
    width: 100%;
    max-width: 100%;
    min-width: 309px;
    min-height: 386px;
    max-height: 489px;
    height: 50vw;
  }

  @include vp-767 {
    padding: 28px 25px 35px;
    width: 100%;
    min-width: 270px;
    height: 120vw;
    max-height: 700px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 1024px) {
    @include hover {
      @include show-description;
    }

    &:focus-within {
      @include show-description;
    }
  }

  @include show-description-js;
}

.card__description {
  position: absolute;
  left: 12%;
  right: 10%;
  bottom: 6%;

  @include vp-1023 {
    bottom: 7%;
    left: 11%;
  }

  @include vp-767 {
    bottom: 4%;
    left: 9%;
  }

  & h3 {
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;
  }

  & h4 {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color-alice-blue;
  }

  & p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #d8d8d9;
  }
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__button-wrapper {
  display: none;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0 9px;
}
