.form {
  max-width: 403px;
  padding: 44px 50px 50px;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);

  @include vp-767 {
    padding: 31px 30px 40px;
    width: 100%;
    max-width: 100%;
  }

  & p {
    margin: 0;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;

    @include vp-767 {
      margin-bottom: 26px;
      text-align: center;
    }
  }
}

.form__input-wrapper {
  margin-bottom: 20px;

  @include vp-767 {
    margin-bottom: 19px;
  }

  & input {
    width: 100%;
    padding: 11px 16px;
    font-family: $ff-montserrat;
    font-size: 14px;
    line-height: 21px;
    border: none;
    color: $color-tangaroa;
    background-color: $color-alice-blue;

    &::placeholder {
      color: rgba(1, 28, 64, 0.7);
    }

    @include hover {
      outline: 2px solid $color-torch-red;
    }

    @include focus {
      outline: 2px solid $color-torch-red;
    }
  }
}

.form__checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;

  @include vp-767 {
    margin-bottom: 26px;
  }

  & input:checked + .form__checkbox-mark::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    width: 12px;
    height: 8px;
    background-image: url("../../img/svg/check.svg");
    background-repeat: no-repeat;

    @include vp-767 {
      top: 6px;
      left: 4px;
    }
  }

  & input:hover + .form__checkbox-mark {
    outline: 2px solid $color-torch-red;
  }

  & input:focus + .form__checkbox-mark {
    outline: 2px solid $color-torch-red;
  }
}

.form__checkbox-mark {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-color: $color-alice-blue;

  @include vp-767 {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.form__checkbox-text {
  display: block;
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;

  @include vp-767 {
    flex-basis: 68%;
  }
}

.form__send-button {
  width: 100%;
  padding: 11px 0;
}
