.nojs {
  @include vp-767 {
    & .main-header__nav-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    & .main-header__button {
      display: none;
    }

    & .main-nav {
      display: block;
    }

    & .main-header__logo {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    & .main-nav__item {
      padding: 10px 10px 10px 0;
    }

    & .main-header__hero {
      padding: 0 0 230px;
    }
  }

  @include vp-1023 {
    & .card__image {
      display: none;
    }

    & h3 {
      top: 28px;
    }
  }
}
