@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active,
  &:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin show-description {
  .card__image {
    z-index: -1;
  }

  h3 {
    position: static;
    padding: 0;
    margin-bottom: 14px;
  }

  .card__button-wrapper {
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    margin-top: auto;
    padding-bottom: 17%;
  }

  .card__description {
    display: flex;
    flex-direction: column;
    left: 10%;
    right: 10%;
    top: 7%;
    bottom: 0;
  }

  & {
    overflow: auto;
  }
}

@mixin show-description-js {
  @include vp-1023 {
    &.is-open {
      overflow: auto;

      & .card__image {
        display: none;
      }

      h3 {
        position: static;
        padding: 0;
        margin-bottom: 14px;
      }

      .card__button-wrapper {
        position: relative;
        bottom: 0;
        display: block;
        width: 100%;
        margin-top: auto;
        padding-bottom: 15%;

        @include vp-767 {
          padding-bottom: 16%;
        }
      }

      .card__description {
        display: flex;
        flex-direction: column;
        left: 11%;
        right: 11%;
        top: 7%;
        bottom: 0;

        @include vp-767 {
          left: 9%;
          right: 9%;
        }
      }
    }
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
